spring:
  datasource:
    url: jdbc:postgresql://${DB_HOST}:${DB_PORT}/${DB_NAME}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    hikari:
      maximum-pool-size: 20

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false

fastapi:
  base-url: http://polaris-backend-fastapi:8000

logging:
  level:
    root: INFO
    com.skax.physicalrisk: INFO
    org.springframework.web: WARN
    org.hibernate.SQL: WARN
